<div id="angularjs-filemanager-context-menu" class="dropdown clearfix animated fast fadeIn">
    <div class="dropdown-menu dropdown-right-click" role="menu" aria-labelledby="dropdownMenu" ng-show="temps.length">

        <button class="dropdown-item" ng-show="singleSelection() && singleSelection().isFolder()" tabindex="-1" ng-click="smartClick(singleSelection())">
            <i class="glyphicon glyphicon-folder-open"></i> {{'open' | translate}}
        </button>

        <button class="dropdown-item" tabindex="-1" ng-show="config.pickCallback && singleSelection() && singleSelection().isSelectable()" ng-click="config.pickCallback(singleSelection().model)">
            <i class="glyphicon glyphicon-hand-up"></i> {{'select_this' | translate}}
        </button>

        <button class="dropdown-item" tabindex="-1" ng-show="config.allowedActions.download && !selectionHas('dir') && singleSelection()" ng-click="download()">
            <i class="glyphicon glyphicon-cloud-download"></i> {{'download' | translate}}
        </button>

        <button class="dropdown-item" tabindex="-1" ng-show="config.allowedActions.downloadMultiple && !selectionHas('dir') && !singleSelection()" ng-click="download()">
            <i class="glyphicon glyphicon-cloud-download"></i> {{'download_as_zip' | translate}}
        </button>

        <button class="dropdown-item" tabindex="-1" ng-show="config.allowedActions.preview && singleSelection().isImage() && singleSelection()" ng-click="openImagePreview()">
            <i class="glyphicon glyphicon-picture"></i> {{'view_item' | translate}}
        </button>

        <button class="dropdown-item" tabindex="-1" ng-show="config.allowedActions.rename && singleSelection()" ng-click="modal('rename')">
            <i class="glyphicon glyphicon-edit"></i> {{'rename' | translate}}
        </button>

        <button class="dropdown-item" tabindex="-1" ng-show="config.allowedActions.move" ng-click="modalWithPathSelector('move')">
            <i class="glyphicon glyphicon-arrow-right"></i> {{'move' | translate}}
        </button>

        <button class="dropdown-item" tabindex="-1" ng-show="config.allowedActions.copy && !selectionHas('dir')" ng-click="modalWithPathSelector('copy')">
            <i class="glyphicon glyphicon-log-out"></i> {{'copy' | translate}}
        </button>

        <button class="dropdown-item" tabindex="-1" ng-show="config.allowedActions.edit && singleSelection() && singleSelection().isEditable()" ng-click="openEditItem()">
            <i class="glyphicon glyphicon-pencil"></i> {{'edit' | translate}}
        </button>

        <button class="dropdown-item" tabindex="-1" ng-show="config.allowedActions.changePermissions" ng-click="modal('changepermissions')">
            <i class="glyphicon glyphicon-lock"></i> {{'permissions' | translate}}
        </button>

        <button class="dropdown-item" tabindex="-1" ng-show="config.allowedActions.compress && (!singleSelection() || selectionHas('dir'))" ng-click="modal('compress')">
            <i class="glyphicon glyphicon-compressed"></i> {{'compress' | translate}}
        </button>

        <button class="dropdown-item" tabindex="-1" ng-show="config.allowedActions.extract && singleSelection() && singleSelection().isExtractable()" ng-click="modal('extract')">
            <i class="glyphicon glyphicon-export"></i> {{'extract' | translate}}
        </button>
        <div class="dropdown-divider" ng-show="config.allowedActions.remove"></div>

        <button class="dropdown-item" tabindex="-1" ng-show="config.allowedActions.remove" ng-click="modal('remove')">
            <i class="glyphicon glyphicon-trash"></i> {{'remove' | translate}}
        </button>

    </div>

    <ul class="dropdown-menu dropdown-right-click" role="menu" aria-labelledby="dropdownMenu" ng-show="!temps.length">
        <li ng-show="config.allowedActions.createFolder">
            <button class="dropdown-item" tabindex="-1" ng-click="modal('newfolder') && prepareNewFolder()">
                <i class="glyphicon glyphicon-plus"></i> {{'new_folder' | translate}}
            </button>
        </li>
        <li ng-show="config.allowedActions.upload">
            <button class="dropdown-item" tabindex="-1" ng-click="modal('uploadfile')">
                <i class="glyphicon glyphicon-cloud-upload"></i> {{'upload_files' | translate}}
            </button>
        </li>
    </ul>
</div>