<ul class=" nav-sidebar file-tree-root list-unstyled">
    <li class="" ng-repeat="item in fileNavigator.history" ng-include="'folder-branch-item'" ng-class="{'active': item.name == fileNavigator.currentPath.join('/')}"></li>
</ul>

<script type="text/ng-template" id="folder-branch-item">
    <button ng-click="fileNavigator.folderClick(item.item)" class="btn-block btn btn-light text-left animated fast fadeInDown " ng-class="{'active': item.name == fileNavigator.currentPath.join('/')}">

        <span class="point">
            <svg class="icon chevron" ng-show="isInThisPath(item.name)">
                <use xlink:href="#svg-chevron-down"></use>
            </svg>
            <svg class="icon chevron r-270" ng-show="!isInThisPath(item.name)">
                <use xlink:href="#svg-chevron-down"></use>
            </svg>
        </span>

        <svg class="icon" ng-show="isInThisPath(item.name)">
            <use xlink:href="#svg-folder_open"></use>
        </svg>
        <svg class="icon" ng-show="!isInThisPath(item.name)">
            <use xlink:href="#svg-folder_closed"></use>
        </svg>
        {{ (item.name.split('/').pop() || fileNavigator.getBasePath().join('/') || '/') | strLimit : 30 }}
    </button>
    <ul class=" nav-sidebar list-unstyled">
        <li class="" ng-repeat="item in item.nodes" ng-include="'folder-branch-item'"></li>
    </ul>
</script>